@page "/"
@using BlazorMonacoYaml

<div class="form-group row">
  <div class="col-xs-4">
    <AgnoInputFile OnFileChange="HandleSelection" />
  </div>
  <div class="col-xs-4">
    <select class="form-control input-sm" @onchange="@(async (ChangeEventArgs x) => { await SetSelectedRelease(x.Value.ToString()); })">
	    <option selected="" >---</option>

        @foreach (var item in HelmTool.HelmReleases)
        {
            <option selected="@(item == SelectedHelmRelease)" value="@item.Name">@item.Name</option>
        }
    </select>
  </div>
  <div class="col-xs-4">
	<select class="form-control input-sm" @onchange="@(async (ChangeEventArgs x) => { SetSelectedVersion(x.Value.ToString()); })">
		<option selected="" >---</option>
		@foreach (var item in ChartVersions)
		{
			<option selected="@(item == SelectedVersion)" >@item</option>
		}
	</select>
  </div>
  <div class="col-xs-4">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="showDependencies" checked="@ShowDependencies" @onchange="@(async (ChangeEventArgs x) => { ShowDependencies = (bool)x.Value; })">
        <label class="form-check-label" for="showDependencies">Show Dependencies</label>
      </div>
  </div>
</div>

<div class="editorContent" style="height: 90vh">
    <MonacoDiffEditorYaml @ref="YamlDiffEditor" Id="monacoDiffEditorYaml" CssClass="editor" />
</div>