@page "/"
@using BlazorMonaco

<div class="form-group row">
  <div class="col-xs-4">
	<InputFile type="file" multiple OnChange="@ReadFiles"  />
  </div>
  <div class="col-xs-3">
    <select class="form-control input-sm" @onchange="@(async (ChangeEventArgs x) => { await SetSelectedRelease(x.Value.ToString()); })">
	    <option selected="">---</option>
        @foreach (var item in HelmTool.HelmReleases)
        {
            <option selected="@(item == SelectedHelmRelease)" value="@item.Name">@item.Name</option>
        }
    </select>
  </div>
  <div class="col-xs-3">
	<select class="form-control input-sm" @onchange="@(async (ChangeEventArgs x) => { await SetSelectedVersion(x.Value.ToString()); })">
		<option selected="">---</option>
		@foreach (var item in ChartVersions)
		{
			<option selected="@(item == SelectedVersion)" >@item</option>
		}
	</select>
  </div>
  <div class="col-xs-2">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="showDependencies" checked="@ShowDependencies" @onchange="@(async (ChangeEventArgs x) => { ShowDependencies = (bool)x.Value; await UpdateOriginal(); })">
        <label class="form-check-label" for="showDependencies">Show Dependencies</label>
      </div>
  </div>
</div>

 <MonacoDiffEditor @ref="YamlDiffEditor" Id="monacoDiffEditorYaml" ConstructionOptions="DiffEditorConstructionOptions" OnDidInit="EditorOnDidInit" />